*.[bB][iI][nN]
*.[cC][oO][mM]
*.[eE][xX][eE]
*.[iI][mM][gG]
*.[lL][iI][sS]
*.[lL][nN][kK]
*.[lL][sS][tT]
*.[mM][aA][pP]
*.[oO][bB][jJ]
*.[rR][uU][nN]
*.[sS][yY][sS]
*.[tT][xX][tT]
*.[zZ][iI][pP]
FLOPPY.ASM
FSYS.ASM
HARDIDE.ASM
JOBC.ASM
MONITOR.ASM
PARALLEL.ASM
RS232.ASM
UASM.ASM
/LEARNASM
/TC
/TASM

